name: Build and Deploy

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        default: "latest"
        type: string
        description: "Docker tag (quay.io)"

jobs:
  build-and-deploy:
    # if: ${{ inputs.deployment-environment }}
    # name: "Build and deploy to: ${{ inputs.deployment-environment }}"
    # runs-on: ubuntu-latest
    # environment: ${{ inputs.deployment-environment }}
    uses: decentraland/actions/.github/workflows/build-quay-main.yml@main
    with:
      service-name: lamb2
      docker-tag: ${{ inputs.tag }}
    secrets:
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}
